<%- include('./includes/head', { pageTitle: `Non hai effettuato l'accesso`}) %> 
</head>
<body>
    <%-  include('./includes/header') %> 
    <main>
        <h1>Non hai effettuato l'accesso</h1>
        <p>Per accedere a questa pagina devi essere autenticato.</p>
        <p><a class="btn" href="/login">Accedi</a></p>
    </main>
    <%- include('./includes/footer') %> 
