<%- include('./includes/head', { pageTitle: 'Pagina non trovata'}) %> 
</head>
<body>
    <%-  include('./includes/header') %> 
    <main>
        <h1>Quello che cerchi non si trova qui...</h1>
        <p>La pagina che cerchi deve aver traslocato. Sfortunatamente non conosciamo il suo nuovo indirizzo.</p>
        <p><a class="btn" href="/">Torna in un luogo sicuro</a></p>
    </main>
    <%- include('./includes/footer') %> 
