<%- include('./includes/head', { pageTitle: 'Qualcosa non ha funzionato'}) %> 
</head>
<body>
    <%-  include('./includes/header') %> 
    <main>
        <h1>Qualcosa è andato storto...</h1>
        <p>Ci dispiace ma sembra che qualcosa al momento non stia funzionando a dovere - torna a trovarci tra un po'.</p>
        <p><a class="btn" href="/">Torna in un luogo sicuro</a></p>
    </main>
    <%- include('./includes/footer') %> 
