<%- include('./includes/head', { pageTitle: 'Home page'}) %> 
</head>
<body>
    <%-  include('./includes/header') %> 
    <main>
        <h1>Benvenuto nella Home</h1>
        
    </main>
    <%- include('./includes/footer') %> 
