<%- include('../../shared/includes/head', { pageTitle: 'Tutti i tuoi ordini'}) %> 

</head>
<body>
    <%-  include('../../shared/includes/header') %> 
    <main>
        <h1>Tutti i tuoi ordini</h1>
        
    </main>
    <%- include('../../shared/includes/footer') %> 