<%- include('../../shared/includes/head', { pageTitle: 'Pagamento non riuscito' }) %>

</head>
<body>
    <%- include('../../shared/includes/header') %>
        <main>
        <h1>Il pagamento non è andato a buon fine</h1>
        <p>Contatta il proprietario del sito per maggiori informazioni</p>
        </main>
<%- include('../../shared/includes/footer') %>