<%- include('../../shared/includes/head', { pageTitle: 'Pagamento avvenuto con successo' }) %>

</head>
<body>
    <%- include('../../shared/includes/header') %>
        <main>
        <h1>Pagamento avvenuto con successo</h1>
        <p>Puoi visitale la <a href="/orders">pagina degli ordini</a> per controllare lo stato del tuo ordine.</p>
        </main>
<%- include('../../shared/includes/footer') %>