<header>
    <h2><i class="fa-solid fa-bullhorn"></i>Presto</h2>
    <nav>
        <ul>
            <% if (locals.isAuth) { %> 
                <li>
                    <form action="/logout" method="post">
                        <%- include('./csrf-token') %> 
                        <button>Logout</button>
                    </form>
                </li>
            <% } %> 
        </ul>
    </nav>
</header>