@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-gray-50: rgb(243,236,230);
    --color-gray-100: rgb(207,201,195);
    --color-gray-300: rgb(99,92,86);
    --color-gray-400: rgb(70,65,60);
    --color-gray-500: rgb(37, 34, 31);
    --color-gray-600: rgb(32, 29, 26);
    --color-gray-700: rgb(31, 26, 22);

    --color-primary-50: rgb(240, 216, 191);
    --color-primary-100: rgb(237, 202, 164);
    --color-primary-200: rgb(234, 188, 136);
    --color-primary-300: rgb(231, 174, 109);
    --color-primary-400: rgb(228, 159, 82);
    --color-primary-500: rgb(225, 145, 55);
    --color-primary-600: rgb(222, 131, 27);
    --color-primary-700: rgb(219, 117, 0);

    --color-error-100: rgb(255, 192, 180);
    --color-error-500: rgb(199, 51, 15);

    --color-accent-100: rgb(221, 248, 255);
    --color-accent-500: rgb(33, 158, 188);
    --color-accent-700: rgb(27, 126, 151);

    --color-white: rgb(255, 255, 255);

    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem;  /* 8px */
    --space-4: 1rem;    /* 16px */
    --space-6: 1.5rem;  /* 24px */
    --space-8: 2rem;    /* 32px */
    --space-10: 2.5rem; /* 40px */
    --space-12: 3rem;   /* 48px */

    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    --shadow-small: 0 2px 8px rgba(0, 0, 0, 0.2);
    --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.4);
    --shadow-large: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-600);
    margin: 0;
    padding: 0;
}

main {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-primary-500);
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font: inherit;
    cursor: pointer;
    padding: var(--space-2) var(--space-4);
    background-color: var(--color-accent-500);
    color: var(--color-white);
    border: 1px solid var(--color-accent-500);
    border-radius: var(--border-radius-small);
    transition: background-color 0.4s ease-in-out;
}

.btn-outline {
    background-color: transparent;
    color: var(--color-accent-700);
    font-weight: 700;
    border: 2px solid var(--color-accent-500);
    transition: color 0.4s ease-in-out;
}

.btn:hover,
.btn:active,
.btn-outline:hover,
.btn-outline:active {
    background-color: var(--color-accent-700);
}

.btn-outline:hover,
.btn-outline:active {
    color: var(--color-white);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color: var(--color-error-500);
    padding: var(--space-4);
    margin: 0 auto var(--space-6) auto;
    text-align: center;
    max-width: 30rem;
    
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;    
}

.alert p {
    margin: var(--space-2) 0;
}