h1 {
    text-align: center;
}

.form {
    background-color: var(--color-primary-500);
    max-width: 95%;
    margin: auto;
    padding: var(--space-6);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    text-align: center;
}

.form a {
    color: var(--color-white);
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: var(--space-2);
    text-align: left;
    width: 95%;
    margin:0 auto var(--space-1) auto;
}

input,
textarea {
    font: inherit;
    padding: var(--space-2);
    width: 95%;
    margin-bottom: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
}

input:focus {
    background-color: var(--color-accent-100);
    color: var(--color-gray-700);
}

textarea {
    resize: none;
}

hr {
    color: var(--color-gray-700);
}

@media screen and (min-width: 48rem) {
    .form {
        max-width: 80%;
    }
}