#main-header {
    width: 100%;
    max-width: 70rem;
    height: 5rem;
    margin: var(--space-4) auto 0 auto;
    padding: 0 var(--space-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-500);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
}

#logo a{
    color: var(--color-white);
    font-size: var(--space-10);
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: color 0.4s ease-in-out;
}

#logo a:hover,
#logo a:active {
    color: var(--color-gray-50);
}

#logo i {
    margin-right: var(--space-2);
    font-size: var(--space-12);
    color: var(--color-accent-500);
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    margin: 0 var(--space-2);
}

.nav-items a{
    color: var(--color-white);
}

.nav-items a.btn-outline {
    color: var(--color-accent-700);
    transition: color 0.4s ease-in-out;
}

.nav-items a.btn-outline:hover,
.nav-items a.btn-outline:active {
    color: var(--color-white);
}

#mobile-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    padding: 0;
}

#mobile-menu-btn span {
    width: 2.25rem;
    height: 0.2rem;
    background-color: var(--color-gray-50);
    border-radius: var(--space-6);
}