<%- include('../../shared/includes/head', { pageTitle: 'Tutti i prodotti'}) %> 
</head>
<body>
    <%-  include('../../shared/includes/header') %> 
    <main>
        <h1>Tutti i prodotti</h1>
        <p>Una lista dei prodotti...</p>
    </main>
    <%- include('../../shared/includes/footer') %> 
