<%- include('../../shared/includes/head', { pageTitle: 'Tutti i prodotti'}) %> 
</head>
<body>
    <%-  include('../../shared/includes/header') %> 
    <main>
        <h1>Pagina Admin</h1>
        <section>
            <h2>Gestione dei prodotti</h2>
            <p><a class="btn" href="/admin/products/new">Aggiungi un nuovo prodotto</a></p>
        </section>
        <section>
            <p>Una lista dei prodotti...</p>
        </section>
        
        
    </main>
    <%- include('../../shared/includes/footer') %> 
