<%- include('../../shared/includes/head', { pageTitle: 'Accedi'}) %> 
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%-  include('../../shared/includes/header') %> 
    <main>
        <h1>Accedi</h1>
        <form action="/login" method="post">
            <%- include('../../shared/includes/csrf-token') %>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="8" required>
            </div>
            <button class="btn">Accedi</button>
            <p id="switch-form"><a href="/signup">Non hai un account? Registrati</a></p>
        </form>
    </main>
    <%- include('../../shared/includes/footer') %> 
